[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexandr (Sikorskyyy)
[access "refs/for/refs/*"]
	read = group user/Alexandr (Sikorskyyy)
	push = group user/Alexandr (Sikorskyyy)
	label-Code-Review = -2..+2 group user/Alexandr (Sikorskyyy)
	label-Verified = -1..+1 group user/Alexandr (Sikorskyyy)
	rebase = group user/Alexandr (Sikorskyyy)
	removeReviewer = group user/Alexandr (Sikorskyyy)
	submit = group user/Alexandr (Sikorskyyy)
[access "refs/heads/*"]
	read = group user/Alexandr (Sikorskyyy)
	create = group user/Alexandr (Sikorskyyy)
	push = +force group user/Alexandr (Sikorskyyy)
	pushMerge = group user/Alexandr (Sikorskyyy)
	labelAs-Code-Review = -2..+2 group user/Aseedr
	labelAs-Code-Review = -2..+2 group user/tatianic
	labelAs-Code-Review = -2..+2 group user/turok-m-a
	label-Code-Review = -2..+2 group user/Aseedr
	label-Code-Review = -2..+2 group user/Ihar Kukharchuk (i4s)
	label-Code-Review = -2..+2 group user/tatianic
	label-Code-Review = -2..+2 group user/turok-m-a
[access "refs/tags/*"]
	push = +force group user/Alexandr (Sikorskyyy)
	pushTag = group user/Alexandr (Sikorskyyy)
	pushSignedTag = group user/Alexandr (Sikorskyyy)
